* {
    padding: 0;
    margin: 0;
  }
  
  html {
    font-family: Raleway, sans-serif;
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
  }
  
  /*Navigation*/
  
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, white, #E4D3FF);
  }
  #navbar > ul {
    display: flex;
    list-style-type: none;
    padding: 15px;
  }
  
  #navbar > ul > li {
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
  }
  
  #navbar > ul > li > a {
    color: #0C021C;
  }
  
  @media (max-width: 700px) {
    #navbar {
      justify-content: center;
    }
  }
  
  /*Main Section*/
  
  #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #0C021C;
    color: white;
  }
  
  #welcome-section > h1 {
    text-align: center;
    font-size: 5rem;
  }
  
  #welcome-section > p {
    font-size: 3rem;
    font-style: italic;
    color: #E4D3FF;
    padding-top: 1em;
  }
  
  #projects {
    text-align: center;
    padding: 3rem;
    background-image: linear-gradient(90deg, white, #E4D3FF); 
  }
  
  #projects > h2 {
    font-size: 4rem;
    color: #0C021C;
    font-weight: 600;
    padding: 4rem;
  }
  
  #projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 4rem;
    justify-items: center;
    padding-top: 2rem;
  }
  
  @media (max-width: 380px) {
    #projects-grid {
    grid-template-columns: 1fr;
    }
  }
  
  .project-tile {
    background-color: #0C021C;
    box-shadow: 3px 3px 15px gray;
    max-width: 40rem;
  }
  
  .project-tile > p {
    font-size: 2rem;
    color: white;
    padding: 2.5rem;
  }
  
  .code {
    color: #0C021C;
    transition: color 0.3s ease-in-out;
  }
  
  .project-tile:hover .code {
    color: #E4D3FF;
  }
  
  img {
    display: block;
    width: 100%;
    height: 36rem;
    object-fit: cover;
  }
  
  #contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0C021C;
    padding: 4rem;
    height: 100vh;
  }
  
  .contacts-header > h2 {
    text-align: center;
    font-size: 4rem;
    color: white;
    padding-top: 4rem;
  }
  
  .contacts-header > p {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
    color: #E4D3FF;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  
  .sns {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
  }
  
  .sns > a {
    color: white;
    padding: 2rem;
  }